<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>

    <h1>Enter text to update the list</h1>
    <div class="container">
        <form action="/updatePost" method="POST">
          <div class="input-group mb-3">
            <input type="text" hidden name="id" value ="<%=id%>">
            <input type="text" class="form-control" placeholder="Add to list" name="editText" aria-label="list" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" >Update</button>
          </div>
        </form>
      </div>
</body>
</html>