<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <p>Welcome </p>
<form action="">
<table>
  <th>S.N</th>
  <th>List</th>
  <th>Actions</th>
  <tr>
    <td>1</td>
    <td>Programming</td>
    <td>
      <button>Edit</button>
      <button>delete</button>
    </td>
  </tr>
</table>
<button type="submit" > ADD </button>
</form>

  </body>
</html>
